@import "./_variables";

#send fieldset {
    border: 2px solid $sec_color;
    border-top-width:42px;
    border-radius:7px;
}

#send legend {
    background-color:$sec_color;
    color:#fff;
    height:42px;
}

form h2 {
    color: $sec_color;
}

.ojform {
    padding:.2rem;
}

.ojform input, .ojform select, .ojform textarea {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    font-weight:700;
    border-style:none;
}

.ojform input::placeholder,
.ojform select::placeholder,
.ojform textarea::placeholder {
    color:#777;
    font-weight:200;
}

.ojform option {
    width:100%;
}

.ojform select {
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, #777 50%),
    linear-gradient(135deg, #777 50%, transparent 50%),
    linear-gradient(to right, #777, #777);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.ojform select:focus {
  background-image:
    linear-gradient(45deg, $sec_color 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $sec_color 50%),
    linear-gradient(to right, #777, #777);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: $sec_color;
  outline: 0;
}

#content_raw {
    min-height:40rem;
    padding:1rem;
    font-size:.75rem;
}

#content_anon {
    min-height:40rem;
    padding:1rem;
    white-space:pre-wrap;
    background-color:#f9f7f7;
    border:3px solid #ddd;
    max-height:45rem;
    overflow:scroll;
}

#content_anon {
    z-index:0;
    .modEntity {
        display:none;
    }

    .anon {
        background-color:#ffd400;
        border: 3px solid #f9f7f7;
        padding:0 0 2px;
        border-radius:4px;
    }

    .anon_container {
        z-index:1;
    }


    .selected {
        z-index:100;
        position:relative;

        .anon {
            background-color:#ffd400;
            border-color:#000;
        }

        .modEntity {
            display:inline;
        }


        .modEntity:hover svg {
            color:#f33;

        }
    }

    .modEntity {
        cursor:pointer;
        text-decoration:none;
        color:black;
        background:none;
        border:none;
        svg {
            height:1rem;
        }
}


    .small_arrow {
    }
}

.term_remove {
    background-color:transparent;
    border-color:transparent;
    padding:0;
}

.term_remove img {
    height:calc(1.5em + 0.75rem + 0px);
}
.pseudoform .term_remove img {
    height:calc(1em + 0.5rem + 0px);
}


.term_remove:hover {
    background-color:#faa;
}

.anonymise .oj_eye {
    padding-right:.85rem;
}

.anonymise h3 {
    font-size:1.375rem;
    font-weight:400;
}

#anon_log {
    background-color:$sec_light_color;
    color:#333;
    font-family:monospace !important;
    font-size:.7rem;
}

.anonOpts form {
    margin-bottom:.3rem;
    border: 2px solid transparent;
}

.anonOpts form.selected {
    border: 2px solid #5e81f4;
    border-radius:4px;
}


/************************ labels Style
***********************************/
.labels-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.labels-list button {
    align-items: center;
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    padding: 0;
    transform: rotate(45deg);
    width: 15px;
    padding-bottom:4px;
}

.labels-list > li {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-weight: 500;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}

.labels-list li {
    position:relative;
}

.labels-list input {
    height:2rem;
    width:20rem;
    padding:1rem;
}

.sublabels {
    display: flex; 
    position:absolute;
    top:2rem;
    flex-direction: column;
    list-style-type:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc; 
    margin:0;
    padding:1rem 2rem;
    margin-top:4px;
    background-color:#fff;
    width:20rem;
}

.sublabels li {
    padding: .3rem 1rem;
    width:80%;
    cursor: pointer; 
    border: 1px solid #fff;
}

.sublabels li:hover {
    border-color:black;
}

/************************ terms Style
***********************************/
.terms-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.terms-list button {
    align-items: center;
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    padding: 0;
    transform: rotate(45deg);
    width: 15px;
    padding-bottom:4px;
}

.terms-list > li {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-weight: 500;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}

.terms-list li {
    position:relative;
}

.terms-list input {
    height:2rem;
    width:20rem;
    padding:1rem;
}

.subterms {
    display: flex; 
    position:absolute;
    top:2rem;
    flex-direction: column;
    list-style-type:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc; 
    margin:0;
    padding:1rem 2rem;
    margin-top:4px;
    background-color:#fff;
    width:20rem;
}

.subterms li {
    padding: .3rem 1rem;
    width:80%;
    cursor: pointer; 
    border: 1px solid #fff;
}

.subterms li:hover {
    border-color:black;
}



/*********** Send and anon form
******************************/

ul.details {
    list-style-type:none;
    margin:1rem 0 1rem;
    padding:0;
}

ul.details li {
    margin:0;
    padding:0;
}

.text-log {
    background-color:$sec_light_color;
}

ol.eventlog {
    margin:0;
    padding:.2rem;
    margin-left:1rem;
    color:#000;
    font-family:monospace;
    font-size:.8rem;
}

ol.eventlog li {
    margin:0;
    padding:0;
}

.pseudoform input,
.pseudoform select {
    font-size:.7rem;
}

.anonOpts {
    min-height:0rem;
    max-height:40rem;
}

.oj-help {
    color:$main_color;
    font-size:.9rem;
}
