@import "./_variables";

#send fieldset {
    border: 2px solid $sec_color;
    border-top-width:40px;
    border-radius:7px;
}

#send legend {
    background-color:$sec_color;
    color:#fff;
}

form h2 {
    color: $sec_color;
}

.ojform input, .ojform select, .ojform textarea {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    font-weight:700;
}

.ojform input::placeholder,
.ojform select::placeholder,
.ojform textarea::placeholder {
    color:#777;
    font-weight:200;
}
