@import "./_variables";
@import "~bootstrap/scss/bootstrap";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $main_font;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(/background.png);
    background-size:auto;
}

#body {
    background-color:#fff;
    max-width:1200px;
    margin:auto;
	padding: 5px;
	-webkit-box-shadow:
		inset $sec_color 0 0 0 5px;
	-moz-box-shadow:
		inset $sec_color 0 0 0 5px;
	box-shadow:
		inset $sec_color 0 0 0 5px;
}

button, a {
    font-family: $main_font;
}

body img {
    margin:0;
    padding:0;
}


h1, h2, h3, h4, h5 {
    color: $title-color !important;
}

h1, h2, h3, h4, h5, div, p {
    font-family: $main_font !important;
}

body {

}

.svg-icon {
    margin:0;
    padding:0 9px 0 0;
}

.btn-ojmain {
    color: #fff;
    background-color: $main_color;
    border-color: $main_color;
}

.btn-ojsec {
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
}

.btn-ojsec:hover {
    color: #fff;
    background-color: $sec_dark_color;
    border-color: $sec_dark_color;
}

.btn-outline-ojsec,
.btn-outline-ojsec:active,
.btn-outline-ojsec:focus,
.btn-outline-ojsec:visited {
    color: $sec_color;
    border-color: $sec_color;
}

.btn-outline-ojsec:hover {
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
}

.btn-ojact,
.btn-ojact:active,
.btn-ojact:focus,
.btn-ojact:visited {
    color:#fff;
    background-color:$button-color;
    border-color:$button-color;
    font-weight:700;
}

.btn-ojact:hover {
    color:#fff;
    background-color:$button-color-hover;
    border-color:$button-color-hover;
}

.btn-outline-ojact,
.btn-outline-ojact:visited,
.btn-outline-ojact:focus,
.btn-outline-ojact:active {
    color:$button-color;
    background-color:#fff;
    border-color:$button-color;
    font-weight:700;
}

.btn-outline-ojact:hover {
    color:#fff;
    background-color:$button-color;
    border-color:$button-color;
}

.oj-info {
    background-color: $sec_color;
}

.oj-error {
    background-color: $sec_light_color;
    padding:.3rem 1rem;
}

.btn-ojsimple {
    border:none;
    color:$sec_color;
}

.notif {
    background-color:#0076fd;
    color:#fff;
    padding:.4rem 2rem;
    margin:0 0 1rem;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:100;
}
