@import "./_variables";
@import "~bootstrap/scss/bootstrap";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $main_font;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, a {
    font-family: $main_font;
}


h1 {
    color:#000;
    font-family: $main_font;
}

h1, h2, h3, h4, h5, div, p {
    font-family: $main_font !important;
}

body {
	padding: 5px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset $sec_color 0 0 0 5px;
	-moz-box-shadow:
		inset $sec_color 0 0 0 5px;
	box-shadow:
		inset $sec_color 0 0 0 5px;
}

.svg-icon {
    margin:0;
    padding:0 9px 0 0;
}

.btn-ojmain {
    color: #fff;
    background-color: $main_color;
    border-color: $main_color;
}

.btn-ojsec {
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
}

.btn-ojsec:hover {
    color: #fff;
    background-color: $sec_dark_color;
    border-color: $sec_dark_color;
}
.btn-outline-ojsec {
    color: $sec_color;
    border-color: $sec_color;
}

.btn-outline-ojsec:hover {
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
}

.btn-ojact {
    color:#fff;
    background-color:$button-color;
    border-color:$button-color;
    font-weight:700;
}

.btn-ojact:hover {
    color:#fff;
    background-color:$button-color-hover;
    border-color:$button-color-hover;
}

.oj-info {
    background-color: $sec_color;
}
